#login {
  border: 0;
}

.btn {
  background: transparent;
  color: #fff;
  margin: 5px;
}

.btn:hover {
  color: rgba(255, 255, 255, 0.574) !important;
  border-color: rgba(255, 255, 255, 0.574) !important;
}

img {
  width: 3em;
  height: 2.5em
}

.contenedor {
  position: relative;
  display: inline-block;
  text-align: center;
  width: 6.5em;
  margin: 0 0.5em 0 0;
}

.texto-encima {
  text-shadow: 1px 1px 2px black, 0 0 1em rgb(32, 255, 58), 0 0 0.2em rgb(32, 255, 58);
  font: 1.1em Georgia, "Bitstream Charter", "URW Bookman L", "Century Schoolbook L", serif;
  position: absolute;
  top: 55%;
  left: 0%;
}

div .navbar-toggler{
  border: 0;
}

p{
  font-weight: bold;
}


